<li class="clearfix">

		<div class="place">
			<%=folge.votes.count%>
		</div>

		<div class="info">
			<h3>Folge <%=folge.nummer%></h3>
			<h2><%=folge.title%></h3>
		</div>

	<div class="vote">
			<a href="/vote?id=<%=folge.id%>">Vote!</a>
		</div>

	</li>