<li class="clearfix">

		<div class="place">
			<%=folge.votes.count%>
		</div>

		<div class="info">
			<h2><a href="<%=folge.link%>"><%=folge.title%></a></h3>
		</div>

	
		<a class="vote" href="/vote?id=<%=folge.id%>">Vote!</a>


	</li>