    <% if !@logged_in then %>
    <p class="login"><a href="/connect">Logg dich mit Twitter ein um abzustimmen</a></p>
    <% end %>

	<ol>

<% @folgen.each do |folge| %>
	<%= erb :folge, :locals => { :folge => folge } %>
<% end %>

	</ol>