<!DOCTYPE html>

<html>
	<head>
		<title>Lieblingsfolge</title>

		
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:600,700,700italic,400,400italic' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" href="style.css" />
	</head>

	<body>

		<div class="wrapper">

			<header>
				<p><img src="http://static.maxfriedrich.de/img/konferenz28.png" /></p>
				<p><h1>Lieblingsfolge!</h1></p>
			</header>

	<%= yield %>

	<footer>
		<p><a href="http://knuspermagier.de">knuspermagier.de</a></p>
	</footer>

</div>
	</body>
</html>