* {
	margin: 0;
	padding: 0;
}

.clearfix:after {
        content: '';
        display: table;
        clear: both;
}

body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	background: #bf2e2e;
	color: #000;
}

.wrapper {
	max-width: 700px;

	margin: auto;
}

.login {
	margin-top: 50px;

	color: #fff;

	text-align: center;
}


.login a {
	color: inherit;
}

.login a:hover {
	text-decoration: none;
}


ol {
	list-style-type: none;

	margin: 50px 0;
}

li {
	margin: 25px 0 ;


	background: #fff;

	border-radius: 5px;
}

.place {
	font-size: 22px;

	width: 100px;

	float: left;

	padding: 10px 0px;


	text-align: center;

	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}


h2 {
	font-size: 22px;
	font-weight: normal;
}

h2 a {
	color: inherit;
	text-decoration: none;
}

.info {
	float: left;

	border-left: 2px #bf2e2e solid;
	border-right: 2px #bf2e2e solid;

	width: 466px;

	padding: 10px 10px;

}

.vote {
	font-size: 22px;

	float: left;
	width: 100px;

	text-align: center;

	padding: 10px 0;

	display: block;

	text-decoration: none;
	color: #000;

}

.vote:hover {
	color: #333;
	
}

.vote:active {
	position: relative;
	top: 1px;	
}

header {
	text-align: center;
	margin: 25px 0;
}

header h1 {
	color: #fff;
	margin-top: 10px

}

footer {
	font-size: 14px;
	text-align: center;

	margin-bottom: 25px;
}

footer a {
	color: #fff;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}